	body {
		background-color: whitesmoke;
	}



	a.active:hover {
     border-bottom: 2px solid #00ffc8;
     border-top: 2px solid #00ffc8;
     display: block;
 	}


 	a.hov:hover {
     border-bottom: 2px solid #00ffc8;
     border-top: 2px solid #00ffc8;
     
 	}




